//colors
$primary            : #ffffff;
$secondary          : #141720;
$secondary-light    : #2b2b2b;
$color-pink         : #c71222;
$color-grey         : #5d5f65;
$color-grey-light   : #d4d4d4;
$color-grey-lighter : #efefef;
// media
$xl : 1200px;
$lg : 992px;
$md : 768px;
$sm : 576px;