@mixin sectionComponent($sectionName,$sectionContent,$contentPosition,$imagePosition) {
    .#{$sectionName}{
        background-color: #141720;
        color: #ffffff;
        position: relative;
        overflow: auto;
        .#{$sectionContent}{
            position: absolute;
            background-color: #141720;
            width: 50%;
            top: 0;
            bottom: 0;
            #{$contentPosition}: 0;
            padding: 144px 125px 0 152px;
            form{
                position: relative;
                *{
                    display: block;
                }
                input{
                    background-color: transparent;
                    border: 2px solid #ffffff;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    width: 100%;
                    padding: 25px 0 10px;
                    margin-bottom: 16px;
                    color:#ffffff;
                    &::placeholder{
                        font-size: 15px;
                        line-height: 26px;
                        letter-spacing: 0.5px;
                        color: #ffffff;
                        font-family: "Proxima Nova";
                    }
                    &:focus{
                        outline: none;
                    }
                }
                textarea{
                    background-color: transparent;
                    border: 2px solid #ffffff;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    width: 100%;
                    color:#ffffff;
                    &::placeholder{
                        font-size: 15px;
                        line-height: 26px;
                        letter-spacing: 0.5px;
                        color: #ffffff;
                        font-family: "Proxima Nova";
                    }
                    &:focus{
                        outline: none;
                    }
                }
                .btn{
                    font-size: 15px;
                    line-height: 26px;
                    letter-spacing: 0.19px;
                    color: #ffffff;
                    padding: 10px 46px;
                    border: none;
                    background-color: #c71222;
                    border-radius: 25px;
                    position: absolute;
                    right: 0;
                    bottom: 15px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            h2{
                font-size: 28px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 1px;
                margin-bottom: 55px;
                font-family: "Proxima Nova";
            }
            p{
                font-size: 15px;
                line-height: 26px;
                letter-spacing: 0.5px;
                font-family: "Proxima Nova";
                white-space:pre-line;
            }
        }
        img,iframe{
            float: $imagePosition;
        }
    }

    @media screen and (max-width:$xl) {
        .#{$sectionName}{
            .#{$sectionContent}{
                padding: 144px 50px;
            }
        }   
    }

    @media screen and (max-width:$md) {
        .#{$sectionName}{
            .#{$sectionContent}{
                position: unset;
                width: 100%;
                padding: 144px 50px;
            }
            img,iframe{
                width: 100%;
                float: unset;
            }
        }   
    }

    @media screen and (max-width:$sm) {
        .#{$sectionName}{
            .#{$sectionContent}{
                padding: 50px 20px;
            }
        }   
    }
}