@keyframes circle{
    0%{
        border-top-color:#d4d4d4;
        border-right-color:#d4d4d4;
        border-bottom-color:#d4d4d4;
        border-left-color:#d4d4d4;  
    }
    25%{
      border:4px solid #c71222;
      border-top-color:#d4d4d4;
      border-bottom-color:#d4d4d4;
      border-left-color:#d4d4d4;
    }
    50%{
      border:4px solid #c71222;
      border-top-color:#d4d4d4;
      border-left-color:#d4d4d4;
    }
    75%{
      border:4px solid #c71222;
      border-top-color:#d4d4d4;
    }
    100%{
      border:4px solid #c71222;
    }
}

@keyframes slide{
    0%{
        transform:translateX(100%);
    }
    35%{
        transform:translateX(0);
    }
    50%{
        transform:translateX(0);
    }
    65%{
        transform:translateX(0);
    }
    100%{
    transform:translateX(100%);
    }
}

@keyframes zoom{  
    to{ 
        transform: scale(1);
    } 
}