@mixin sectionComponent($flexDirection,$flexDirection-lg) {
    .section-bg{
        background-color: $secondary;
        .row{
            display: flex;
            flex-direction: $flexDirection;
            align-items: center;
            @media screen and (max-width:$lg) {
                &{
                    flex-direction: $flexDirection-lg;
                    gap: 40px;
                }
            }
            @extend %contents;
        }
        @media screen and (max-width:$lg) {
            &{
               padding: 40px 0;
            }
        }
    }
}