header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    transition: .5s;
    z-index: 1;
    &.add-bg{
        transition: .5s;
        background-color: $secondary;
        .logo{
            transition: .5s;
            color: $primary;
        }
        .nav-items.active a{
            color: $color-pink;
        }
        .nav-items a{
            color: $primary;
            &:hover{
                color: $color-pink;
            }
        }
        .burger{
            &:hover{
                cursor: pointer;
            }
            div{
                transition: .5s;
                background-color: $primary;
            }
        }
    }
    .logo {
        transition: .5s;
        color: $secondary;
        font-size: 20px;
        font-weight: 400;
        display: inline-block;
    }

    .nav-links{
        display: flex;
    }

    .nav-items{
        margin: 0 25px;
        &:last-child{
            margin-right: 0;
        }
        &.active{
            a{
                color: $color-pink;
            }
        }
    }

    .nav-items a{
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: $color-grey;
        &:hover{
            color: $color-pink;
        }
    }

    .burger{
        display: none;
        &:hover{
            cursor: pointer;
        }
    }
}


@media screen and (max-width : $md){
    header{
        ul.nav-links{
            position: absolute;
            top: 0;
            right: 0;
            background-color: $color-pink;
            height: 100vh;
            width: 320px;
            transform: translateX(100%);
            transition: .5s ease-out ;
            flex-direction: column;
            align-items: center;
            padding-top: 75px;
            .nav-items{
                a{
                    color: $primary;
                    &:hover{
                        color: $secondary;
                    }
                }
                margin: 20px 22px;
                &:first-child::before{
                    bottom:-10px
                }
                &:last-child{
                    margin-right: 22px;
                }
            }
            &.show-on-mobile{
                transform: translate(0) !important;
                transition: .5s ease-out ;
                + .burger{    
                    .line1{
                        visibility: hidden;
                    }
                    .line2{
                        transform: rotate(45deg);
                        transition: .5s;
                    }
                    .line3{
                        transform: rotate(315deg) translate(5px,-6px);
                        transition: .5s;
                    }
                }
                & + .burger{
                    div{
                        background-color: $primary;
                    }
                }
            }
        }
        .burger{
            display: block;    
            .line1{
                display: block;
            }        
            .line2{
                transform: rotate(0deg);
                transition: .5s;
            }
            .line3{
                transform: rotate(0deg);
                transition: .5s;
            }
            div{
                width: 25px;
                height: 3px;
                background-color: $secondary;
                margin: 5px;
            }
        }
    }    
}
