.our-story{
    .container{
        display: flex;
        align-items: center;
        position: relative;
        [class *= "col"]{
            width: 50%;
        }
        .progress{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                position: relative;
                &:first-child::after{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 4px;
                    height: 100%;
                    top: -20%;
                    right: -15px;
                    background-color: $color-grey-light;
                    z-index: -2;
                }
                &.ready:first-child::before{
                    content: "";
                    display: block;
                    width: 4px;
                    height: 0;
                    position: absolute;
                    top: -20%;
                    right: -15px;
                    background-color: $color-pink;
                    z-index: -1;
                    transition: 5s;
                }
                &.started{
                    + ul{
                        li:first-child{
                            .event::before{
                                border: 4px solid $color-grey-light;
                                animation-name: circle;
                                animation-duration: 1s;
                                animation-delay: 3s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                    &:first-child::before{
                        content: "";
                        display: block;
                        width: 4px;
                        height: 41%;
                        position: absolute;
                        top: -20%;
                        right: -15px;
                        background-color: $color-pink;
                        z-index: -1;
                        transition: 5s;
                    }
                }
                &.event-one{
                    + ul{
                        li:nth-child(1){
                            .event::before{
                                border: 4px solid $color-pink;
                            }
                        }
                        li:nth-child(2){
                            .event::before{
                                border: 4px solid $color-grey-light;
                                animation-name: circle;
                                animation-duration: 1s;
                                animation-delay: 3s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                    &:first-child::before{
                        content: "";
                        display: block;
                        width: 4px;
                        height: 60%;
                        position: absolute;
                        top: -20%;
                        right: -15px;
                        background-color: $color-pink;
                        z-index: -1;
                        transition: 5s;
                    }
                }
                &.event-two{
                    + ul{
                        li:nth-child(1){
                            .event::before{
                                border: 4px solid $color-pink;
                            }
                        }
                        li:nth-child(2){
                            .event::before{
                                border: 4px solid $color-pink;
                            }
                        }
                        li:nth-child(3){
                            .event::before{
                                border: 4px solid $color-grey-light;
                                animation-name: circle;
                                animation-duration: 1s;
                                animation-delay: 3s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                    &:first-child::before{
                        content: "";
                        display: block;
                        width: 4px;
                        height: 82%;
                        position: absolute;
                        top: -20%;
                        right: -15px;
                        background-color: $color-pink;
                        z-index: -1;
                        transition: 5s;
                    }
                }
                &.ended{
                    + ul{
                        li:nth-child(1){
                            .event::before{
                                border: 4px solid $color-pink;
                            }
                        }
                        li:nth-child(2){
                            .event::before{
                                border: 4px solid $color-pink;
                            }
                        }
                        li:nth-child(3){
                            .event::before{
                                border: 4px solid $color-pink;
                            }
                        }
                        li:nth-child(4){
                            .event::before{
                                border: 4px solid $color-grey-light;
                                animation-name: circle;
                                animation-duration: 1s;
                                animation-delay: 3s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                    &:first-child::before{
                        content: "";
                        display: block;
                        width: 4px;
                        height: 103%;
                        position: absolute;
                        top: -20%;
                        right: -15px;
                        background-color: $color-pink;
                        z-index: -1;
                        transition: 5s;
                    }
                }
                li{
                    line-height: 20px;
                    margin: 100px auto;
                    *{
                        vertical-align: middle;
                        font-weight: 400;
                        margin-right: 10px;
                    }
                    span{
                        font-size: 16px;
                        line-height: 26px;
                        color: $color-grey-light;
                    }
                    .event{
                        color: $secondary;
                        &::before{
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                            width: 18px;
                            height: 18px;
                            position: relative;
                            background-color: $primary;
                            border: 4px solid $color-grey-light;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .col-right{
            &.ready{
                .story-content{
                    overflow: hidden;
                    .ready{
                        display: block;
                        animation: slide 5s;
                    }
                    .started{
                        display: none;
                    }
                    .event-one{
                        display: none;
                    }
                    .event-two{
                        display: none;
                    }
                    .ended{
                        display: none;
                    }
                }
            }
            &.started{
                .story-content{
                    overflow: hidden;
                    .started{
                        display: block;
                        animation: slide 5s;
                    }
                    .ready{
                        display: none;
                    }
                    .event-one{
                        display: none;
                    }
                    .event-two{
                        display: none;
                    }
                    .ended{
                        display: none;
                    }
                }
            }
            &.event-one{
                .story-content{
                    overflow: hidden;
                    .event-one{
                        display: block;
                        animation: slide 5s;
                    }
                    .ready{
                        display: none;
                    }
                    .started{
                        display: none;
                    }
                    .event-two{
                        display: none;
                    }
                    .ended{
                        display: none;
                    }
                }
            }
            &.event-two{
                .story-content{
                    overflow: hidden;
                    .event-two{
                        display: block;
                        animation: slide 5s;
                    }
                    .ready{
                        display: none;
                    }
                    .started{
                        display: none;
                    }
                    .event-one{
                        display: none;
                    }       
                    .ended{
                        display: none;
                    }       
                }
            }
            &.ended{
                .story-content{
                    overflow: hidden;
                    .ended{
                        display: block;
                        animation: slide 5s;
                    }
                    .ready{
                        display: none;
                    }
                    .started{
                        display: none;
                    }
                    .event-one{
                        display: none;
                    }       
                    .event-two{
                        display: none;
                    }       
                }
            }
            .story-content{
                padding: 144px 0 245px 125px;
            }
        }
    }
}

@media screen and (max-width:$lg) {
    .our-story{
        .container{
            flex-direction: column;
            .progress{
                ul{
                    &:first-child::after{
                        top: -3%;
                    }
                    &.event-one{
                        &:first-child::before{
                            height: 70%;
                        }
                    }
                    &.event-two{
                        &:first-child::before{
                            height: 95%;
                        }
                    }
                    &.ended{
                        &:first-child::before{
                            height: 120%;
                        }
                    }
                    li{
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .col-right{
                .story-content{
                    padding: 60px 0 125px;
                }
            }
        }
    }
}

@media screen and (max-width:$md) {
    .our-story{
        .container{
            [class *= "col"]{
                width: 100%;
            }
        }
    }
}
